<div>
    <%= link_to "Wikinimous", articles_path %>
    <%= link_to "New article", new_article_path %>
</div>

<div class="container">
    <h1><%= @article.title %>- <%= link_to("âœ", edit_article_path(@article)) %> - <%= link_to("ðŸš®", article_path(@article), method: :delete, data: {confirm: "are you sure?"})%> </h1>
    <p><%= @article.content %></p>
</div>